html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    max-width: 50em;
    margin: 5rem;
    padding: 3rem;
}
h3 {
    font-family: Georgia, serif;
    line-height: 1.2;
}
section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    gap: 3em;
}

/* Fonts

o Font family Helvetica, sans-serif with line height 1.5 for the html

o Font family Georgia, serif with line height 1.2 for the headings

· Change the section display property to flex and set justify-content: space-between

· Set on the section max-width 70vw */