*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    background-color: #ccc;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    padding: 2em;
    margin: 1em;
}

li{
    display: flex;
    align-items: center;
    border: 10px solid #000;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
img{
    padding: 1em;
}